{% extends 'base.html' %}

{% block title %}Task Admin | Hangarin{% endblock %}

{% block content %}
<div class="pt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fw-bold">Task Management</h2>
        <a href="{% url 'task-add' %}" class="btn btn-success">+ New Task</a>
    </div>

    <div class="bg-white p-3 rounded shadow-sm mb-4">
        <form method="get" class="row g-2">
            <div class="col-md-8">
                <input type="text" name="q" class="form-control" placeholder="Search tasks..." value="{{ request.GET.q }}">
            </div>
            <div class="col-md-4 d-grid">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

    <div class="table-responsive bg-white rounded shadow-sm">
        <table class="table table-hover mb-0, w-100">
            <thead class="table-dark">
                <tr>
                    <th class="ps-3">Title</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th colspan="3" class="text-center pe-3">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>
                        <span class="badge {% if task.status == 'Completed' %}bg-success{% elif task.status == 'In Progress' %}bg-warning text-dark{% else %}bg-secondary{% endif %}">
                            {{ task.status }}
                        </span>
                    </td>
                    <td>{{ task.priority.name }}</td>
                    <td><a href="{% url 'task-edit' task.pk %}" class="btn btn-sm btn-outline-dark">Edit</a></td>
                    <td><a href="{% url 'task-detail' task.pk %}" class="btn btn-sm btn-outline-info me-1" title="View Details">
                    <i class="bi bi-search"></i> View</a></td>
                    <td><a href="{% url 'task-delete' task.pk %}" class="btn btn-sm btn-outline-danger" title="Delete Task">
                    <i class="bi bi-trash"></i> Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}